<section class="card" *ngIf="routes$ | async as routes">
  <h2 class="card__heading">
    Routes
  </h2>

  <p>
    Please select a route.
  </p>

  <nav class="text-strong">
    <div class="card__item" *ngFor="let route of routes">
      <a [routerLink]="['/routes', route.id]">
        {{ route.name }}
      </a>
    </div>
  </nav>
</section>