<header class="page-header">
  <h2>{{ route.name }}</h2>
  <a [routerLink]="['/routes']" class="text-strong">
    Back to all routes
  </a>
</header>

<div #gmap class="gmap"></div>

<section class="card">
  Newton requires <strong>{{ snacks }} snacks</strong> for this route.
</section>

<section class="card">
  <h2 class="card__heading">Route Stages</h2>

  <div class="card__item stage" *ngFor="let stage of stages; let i = index">
    <div class="stage__index">
      {{ i + 1 }}
    </div>

    <div class="stage__distance">
      <span class="text-small">Walking distance</span><br />
      {{ stage.getWalkingDistance() | number:'1.0-2' }} meters
    </div>

    <div class="stage__icon">
      <i class="material-icons" *ngIf="stage.getAltitudeDifference() > 0">arrow_upward</i>
      <i class="material-icons" *ngIf="stage.getAltitudeDifference() < 0">arrow_downward</i>
      <i class="material-icons" *ngIf="stage.getAltitudeDifference() === 0">arrow_forward</i>
    </div>

    <div class="stage__gradient">
      <span class="text-small">Gradient</span><br />
      {{ stage.getGradient() | number:'1.0-0' }}%
    </div>
  </div>
</section>
