.gmap {
  height: 400px;
  width: 100%;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  &__index {
    font-size: 13px;
    width: 25px;
    flex-grow: 0;
  }

  &__icon {
    flex-grow: 0;
    width: 40px;
  }

  &__distance {
    flex-grow: 0.8;
  }
}
