html, body {
  margin: 0;
}

body {
  background: #fafafa;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  color: #333;
}

a {
  color: #fe4365;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.text-muted {
  color: #aaa;
}

.text-small {
  font-size: 13px;
}

.text-strong {
  font-weight: 700;
}

.site-header {
  background: #fff;
  padding: 25px 40px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  margin-bottom: 3em;

  &__logo {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }
}

.container {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  margin: 2em 0;

  &__heading {
    font-size: 24px;
    margin: -10px 0 1em;
  }

  &__item {
    display: block;
    margin: 0 -40px;
    padding: 15px 40px;

    &:not(:last-child) {
      border-bottom: 1px solid #f5f5f5;
    }
  }
}